<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get Out</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- Custom styles for sticky footer
         Note: Flask requires a static folder -->
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="stylesheet" type=text/css href="static/styles/stickyfooter.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
  </head>
  <body>
     {% include 'includes/_navbar.html' %}
     <main role="main" class="container">
       <div class="container">
         {% block body %} {% endblock %}
       </div>
     </main>
     <br>
     <footer class="footer bg-dark">
       <div class="container">
         <span class="small text-secondary float-right" style="padding-left: 7px">Get Out Logo - Copyright &copy; 2018. &copy; </span>
         <a class="text-secondary float-left" style="padding-left: 7px" href="/"> Home </a>
         <a class="text-secondary float-left" style="padding-left: 7px" href="/about"> About</a>
         <span class="small text-white float-right"> All rights reserved</span>
       </div>
     </footer>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </body>
</html>
