{% extends 'layout.html' %}

{% block body %}
  <!-- Countdown section -->
    <!-- css added to first-img to make it larger -->
    <div class="parallax-container first-img">
      <div class="parallax">
        <img src="{{ url_for('static', filename='img/DSCF6185.JPG') }}">
      </div>
      <div class="center entry-text">
        <h4>A social network for Adventurers</h4>
        <h2>Coming Soon</h2>
        <div class="countdown"></div>
        <a href="#how" class="scroll-icon white-text"><i class="material-icons medium">arrow_drop_down_circle</i></a>
      </div>
    </div>


  <!-- <main role="main">
    <div class="container">
      <section class="landing">
        <div class="center">
          <h4>A social network for Adventurers</h4>
          <h2>Coming Soon</h2>
          <div class="countdown"></div>
          <br><br><br><br><br>
          <br><br><br><br><br>
          {% if session.logged_in == NULL %}
            <a href="/register" class="btn white purple-text">Register</a>
            <a href="/login" class="btn white blue-text">Sign In</a>
          {% endif %}
        </div>
      </section>
    </div>
  </main> -->

  <!-- Participate Section-->
  <section id="how" class="section section-how white-text scrollspy">
    <div class="container">
      <h1 class="center">Participate</h1>
      <br>
      <div class="row row-1">
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>1 - Set your Base Camp</h3>
            <!-- <p>Set your base camp... you can also set a secondary base if needed</p> -->
          </div>
        </div>
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/Base-camp.jpg') }}" alt="">
              <a href="#modal_home1" class="btn-floating halfway-fab waves-effect waves-light purple modal-trigger"><i class="material-icons">add</i> </a>
            </div>
            <div class="card-content black-text">
              <span class="card-title">Set Base Camp</span>

            </div>
          </div>
        </div>
      </div>
      <div class="row row-2">
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/Search-radius.jpg') }}" alt="">
              <a href="#modal_home2" class="btn-floating halfway-fab waves-effect waves-light purple modal-trigger"><i class="material-icons">add</i> </a>
            </div>
            <div class="card-content black-text">
              <span class="card-title">Set Search Radius</span>

            </div>
          </div>
        </div>
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>2 - Set your Search Radius</h3>
            <!-- <p>Set your base camp... you can also set a secondary base if needed</p> -->
          </div>
        </div>
      </div>
      <div class="row row-3">
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>3 - Chose your Activities</h3>
            <!-- <p>Set your base camp... you can also set a secondary base if needed</p> -->
          </div>
        </div>
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/splash-sport-swimmer-73760.jpg') }}" alt="">
              <a href="#modal_home3" class="btn-floating halfway-fab waves-effect waves-light purple modal-trigger"><i class="material-icons">add</i> </a>
            </div>
            <div class="card-content black-text">
              <span class="card-title">Chose your Activities</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax">
      <img src="{{ url_for('static', filename='img/action-athletes-competition-73763.jpg') }}">
    </div>
  </div>
  <!-- Organize Section-->
  <section id="how2" class="section section-how2 white-text scrollspy">
    <div class="container">
      <h1 class="center">Organize</h1>
      <br>
      <div class="row row-4">
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>1 - Plan your Activity</h3>
            <!-- <p>Set your base camp... you can also set a secondary base if needed</p> -->
          </div>
        </div>
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/adult-book-business-297755.jpg') }}" alt="">
              <a href="#modal_home4" class="btn-floating halfway-fab waves-effect waves-light purple modal-trigger"><i class="material-icons">add</i> </a>
            </div>
            <div class="card-content black-text">
              <span class="card-title">Plan your Activity</span>

            </div>
          </div>
        </div>
      </div>
      <div class="row row-5">
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/Search-radius.jpg') }}" alt="">
              <a href="#modal_home5" class="btn-floating halfway-fab waves-effect waves-light purple modal-trigger"><i class="material-icons">add</i> </a>
            </div>
            <div class="card-content black-text">
              <span class="card-title">Fill the activity Planner form</span>

            </div>
          </div>
        </div>
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>2 - Fill the activity Planner form</h3>
            <!-- <p>Set your base camp... you can also set a secondary base if needed</p> -->
          </div>
        </div>
      </div>
      <div class="row row-6">
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>3 - Check the status of your activities regularly</h3>
            <!-- <p>Set your base camp... you can also set a secondary base if needed</p> -->
          </div>
        </div>
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/bar-beard-bokeh-853151.jpg') }}" alt="">
              <a href="#modal_home6" class="btn-floating halfway-fab waves-effect waves-light purple modal-trigger"><i class="material-icons">add</i> </a>
            </div>
            <div class="card-content black-text">
              <span class="card-title">Check the status of your activities regularly</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-7">
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='img/adult-backlit-beach-1000445.jpg') }}" alt="">
              <a href="#modal_home7" class="btn-floating halfway-fab waves-effect waves-light purple modal-trigger"><i class="material-icons">add</i> </a>
            </div>
            <div class="card-content black-text">
              <span class="card-title">Have Fun!!!</span>

            </div>
          </div>
        </div>
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>Have Fun!!!</h3>
            <!-- <p>Set your base camp... you can also set a secondary base if needed</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax">
      <img src="{{ url_for('static', filename='img/DSCF6437.JPG') }}">
    </div>
  </div>
  <!-- Photo Galery Section-->
  <section id="gallery" class="section section-photos white black-text scrollspy">
    <div class="container">
      <h4 class="center">
        <span class="purple-text text-darken-2">Photo </span>Gallery
      </h4>
      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img"
           src="https://source.unsplash.com/1600x900/?ski"
           alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img"
           src="https://source.unsplash.com/1600x900/?scuba"
           alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img"
           src="https://source.unsplash.com/1600x900/?marathon"
           alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img"
           src="https://source.unsplash.com/1600x900/?mountain"
           alt="">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img"
           src="https://source.unsplash.com/1600x900/?cycling"
           alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img"
           src="https://source.unsplash.com/1600x900/?skydiving"
           alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img"
           src="https://source.unsplash.com/1600x900/?hike"
           alt="">
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img"
           src="https://source.unsplash.com/1600x900/?climbing,mountain"
           alt="">
        </div>
      </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax">
      <img src="{{ url_for('static', filename='img/img10.jpg') }}">
    </div>
  </div>
  <!-- Follow-us Section-->
  <section id="connect" class="section section-follow green lighten-4 black-text scrollspy" style="background: #444 !important;">
    <div class="container">
      <header>
        <h1 class="center">Follow GetOut On Social Media</h1>
      </header>
      <ul class="accordion center">
        <li class="tab">
          <div class="social youtube">
            <a href="https://youtube.com/getout" target="_blank">Youtube</a>
          </div>
          <div class="content">
            <h1>YouTube</h1>
            <p>Follow GetOut on YouTube for amazing videos from our users</p>
          </div>
        </li>
        <li class="tab">
          <div class="social twitter">
            <a href="https://twitter.com/getout" target="_blank">Twitter</a>
          </div>
          <div class="content">
            <h1>Twitter</h1>
            <p>Follow GetOut on Twitter announcements, updates, article & blog shares and more</p>
          </div>
        </li>
        <li class="tab">
          <div class="social facebook">
            <a href="https://facebook.com/getout" target="_blank">Facebook</a>
          </div>
          <div class="content">
            <h1>Facebook</h1>
            <p>Follow GetOut on Facebook to stay up to date and get notified of new pictures, videos, events, etc</p>
          </div>
        </li>
        <li class="tab">
          <div class="social linkedin">
            <a href="https://www.linkedin.com/in/getout" target="_blank">LinkedIn</a>
          </div>
          <div class="content">
            <h1>LinkedIn</h1>
            <p>Connect with GetOut on a professional level on Linkedin</p>
          </div>
        </li>
        <li class="tab">
          <div class="social instagram">
            <a href="http://instagram.com/getout" target="_blank">Instagram</a>
          </div>
          <div class="content">
            <h1>Instagram</h1>
            <p>Follow GetOut on Instragram for amazing adventure pictures</p>
          </div>
        </li>
        <!-- <li class="tab">
          <div class="social github">
            <a href="http://github.com/getout" target="_blank">Github</a>
          </div>
          <div class="content">
            <h1>Github</h1>
            <p>Not sure we will be on GitHub</p>
          </div>
        </li> -->
      </ul>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax">
      <img src="{{ url_for('static', filename='img/adventure-flares-formation-70361.jpg') }}">
    </div>
  </div>
  <!-- Sponsor Section-->
  <section id="sponsor" class="section section-sponsor white-text scrollspy">
    <div class="container">
      <div class="row center">
        <div class="col s12">
          <h3><span class="purple-text text-darken-2">Our </span>Sponsors</h3>
          <p>This site would not be possible without the amazing support of our Sponsors</p>
          <img src="{{ url_for('static', filename='img/sponsor/mammut.png') }}">
          <img src="{{ url_for('static', filename='img/sponsor/logo-louis-garneau-reversed.svg') }}" style="padding-left:15px;padding-bottom:5px;">
        </div>
      </div>
    </div>
  </section>

  <!-- How to Modals-->
  <!-- Participate -->
  <div id="modal_home1" class="modal">
    <div class="modal-content">
      <h4 class="purple-text text-darken-3">First step: Set your Base Camp</h4>
      <img class="responsive-img" src="{{ url_for('static', filename='img/Base-camp.jpg') }}" alt="">
      <p>The Base camp will help determine which notifications you should receive</p>
      <p>It tells the system where to look for activities to Participate in</p>
      <p>Go to your profile settings and enter an address for your location or click on the map</p>
      <p>You can set multiple base if needed</p>
    </div>
  </div>
  <div id="modal_home2" class="modal">
    <div class="modal-content">
      <h4 class="purple-text text-darken-3">Second step: Set your Search Radius</h4>
      <img class="responsive-img" src="{{ url_for('static', filename='img/Search-radius.jpg') }}" alt="">
      <p>This will tell the system how far you are willing to travel from your Base Camp to particiipate in posted activities</p>
      <p>This value can easilly be overritten in the search activity page</p>
    </div>
  </div>
  <div id="modal_home3" class="modal">
    <div class="modal-content">
      <h4 class="purple-text text-darken-3">Third step: Chose your activities</h4>
      <img class="responsive-img" src="{{ url_for('static', filename='img/splash-sport-swimmer-73760.jpg') }}" alt="">
      <p>Add activities to your profile</p>
      <p>The system will notify you of new or existing activities in your area </p>
    </div>
  </div>
  <!-- Organize -->
  <div id="modal_home4" class="modal">
    <div class="modal-content">
      <h4 class="purple-text text-darken-3">First step: Plan your Activity</h4>
      <img class="responsive-img" src="{{ url_for('static', filename='img/adult-book-business-297755.jpg') }}" alt="">
      <p>The usual: Who, What, Where, and When</p>
      <ul>Important questions such as (but not limited to):
        <li>How many participant can my activity accomodate?</li>
        <li>What minimum skill level should the participant have?</li>
        <li>Should the participant verify their insurance coverage?</li>
        <li>Do you need emmergency contacts?</li>
      </ul>
      <p class="deep-orange-text text-darken-1">It is your responsibility to ensure that the activities you organize are safe for the participants and that they are aware of the related risks</p>
    </div>
  </div>
  <div id="modal_home5" class="modal">
    <div class="modal-content">
      <h4 class="purple-text text-darken-3">Second step: Fill the activity Planner form</h4>
      <img class="responsive-img" src="{{ url_for('static', filename='img/Search-radius.jpg') }}" alt="">
      <p>This will tell the system how far you are willing to travel from your Base Camp to particiipate in posted activities</p>
      <p>Once finished: Post your activity or Save it to review later</p>
      <p>Once finished: Post your activity or Save it to review later</p>
    </div>
  </div>
  <div id="modal_home6" class="modal">
    <div class="modal-content">
      <h4 class="purple-text text-darken-3">Third step: Check the status of your activities regularly</h4>
      <img class="responsive-img" src="{{ url_for('static', filename='img/bar-beard-bokeh-853151.jpg') }}" alt="">
      <p>The system will provide summary of number of participants registered or interested</p>
      <p>You will be able to communicate with participants about changes or cancellation</p>
      <p>Once finished: Post your activity or Save it to review later</p>
    </div>
  </div>
  <div id="modal_home7" class="modal">
    <div class="modal-content">
      <h4 class="purple-text text-darken-3">Have fun!!!</h4>
      <img class="responsive-img" src="{{ url_for('static', filename='img/adult-backlit-beach-1000445.jpg') }}" alt="">
      <p>Remember that you are responsible for the safety and well being of the participants</p>
      <p></p>
    </div>
  </div>

{% endblock %}
